@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*
{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
	/**************** NAVIGATION ****************/
#navigation {
	width: 100%;
	position: fixed;
	background: #E5DFDF;
	box-shadow: rgba(197, 197, 197, 0.4) 0px 0px 0px 2px, 
				rgba(219, 219, 219, 0.65) 0px 4px 6px -1px,
				rgba(235, 235, 235, 0.08) 0px 1px 0px inset;
	z-index: 2;
	height: 8vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container-fluid {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar {
	background: transparent;
	height: 100%;
	width: 100%;
	margin-right: 4%;
	margin-left: 4%;
}
.navbar-expand-lg .navbar-collapse {
	display: flex;
	flex-grow: 0;
}
.navbar-nav {
	border-radius: 10px 0px 10px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-item {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.1vw;
	text-align: center;
}
.navbar-nav .nav-link.active {
	border-bottom: 2px outset #ffc3c3;
	margin-top: 2px;
	background: radial-gradient(circle farthest-side, #e4d4d4, #E5DFDF);
  	background-repeat: no-repeat;
}
.navbar-nav > .nav-item a.active {
    color: #be1000;
}
.nav-item a.active:hover {
	color: #6d0900;
	border-bottom: 2px solid #938f8f;
	margin-top: 2px;
	background: radial-gradient(circle farthest-side, #e4d4d4, #E5DFDF);
  	background-repeat: no-repeat;
}
.nav-item a:not(.active) {
	color: #a48381;
}
.nav-item a:hover:not(.active) {
	border-bottom: 2px solid #d1cccc;
	margin-top: 2px;
	color: #6d0900;
}
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5%;
}
.logo img {
	height: 60%;
	position: absolute;
}
.left {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #E5DFDF;
}
.right {
    position: absolute;
    left: 41.5%;
    width: 58.5%;
    height: 100vh;
	overflow-y: hidden;
    background-color: #CFCECE;
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
}
#main-body {
	height: calc(100vh - 10vh);
	width: 100%;
	background-size: cover;
	background-position: center;
	justify-content: center;
	display: flex;
	position: relative;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100%;
	position: relative;
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	width: 100%;
	position: absolute;
}
.wrapper h2 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 2.3vw;
	line-height: 60px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.1em;
	color: #AD2B2B;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.wrapper h1 {
	font-size: 4.5vw;
	font-family: 'Poppins';
	font-weight: 600;
	background: linear-gradient(180deg, #4e1c19 0%, rgba(56, 56, 56, 0.74) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	letter-spacing: 0.1em;
}
.wrapper h1 span {
	font-size: 4.5vw;
	font-family: 'Poppins';
	font-weight: 600;
	background: linear-gradient(180deg, #FF0000 0%, rgba(62, 62, 62, 0.74) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	letter-spacing: 0.1em;
}
.wrapper h3 {
	color: #000;
	font-size: 1.5vw;
	font-family: 'Poppins', sans-serif;
	opacity: 50%;
	padding-top: 5px;
	font-weight: 400;
}
.btn-btn {
	align-items: center;
	justify-content: center;
	display: flex;
	width: 100%;
	padding-top: 3%;
}
.btn-btn .hero-btn {
	background-color: #FF8B8B;
	border: 1px solid transparent;
	height: 6vh;
	width: 15vw;
	opacity: 0.7;
	border-radius: 5px;
	transition: .4s;
	box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.15),
				-2px -2px 5px -1px rgba(255, 255, 255, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .5s ease-in-out;
}
.hero-btn .button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-decoration: none;
	font-weight: medium;
	font-size: 1.1vw;
	opacity: 1;
	border: none;
	position: relative;
	transition: all .5s ease-in-out;
}
.hero-btn a span {
	font-weight: lighter;
	width: 100%;
	transition: all .5s ease-in-out;	
	position: absolute;
	color: #FF8B8B;
	z-index: -1;
}
.hero-btn:hover {
	background-color: transparent;
	border: 0.1px solid #FF8B8B;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
	cursor: pointer;
	height: 6vh;
	width: 13vw;
	transform: scale(1);
	font-style: var(#000);
	opacity: 1;
}
.hero-btn:hover span {
	padding-left: 90%;
	font-size: 5em;
	opacity: 1;
}
.hero-btn:active {
	border: none;
}
.hero-btn:hover .button {
	color: rgb(160, 59, 59);
}
.hero-btn:hover .button span {
	color: rgb(160, 59, 59);
	transition: .3s ease-in-out;
	font-weight: lighter;
}
.social-icon {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 10vh;
	margin-right: 4%;
	background-color: transparent;
}
.social-media {
	display: flex;
	gap: 2.2vw;
}
.social-media a {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	color: rgb(74, 74, 74);
	text-decoration: none;
	font-size: 2.2vw;
	opacity: 0.5;
	padding: .6vw;
	border-radius: 50%;
	line-height: 0;
	transition: all .5s ease-in-out;
}
.social-media .fa-brands {
	line-height: 0.9;
	transition: all .3s ease-in-out;
} 
.social-media a:hover {
	opacity: 70%;
}
.social-media a:hover i {
	transform: scale(.7);
	color: #fff;
}
.social-media a:active {
	opacity: 50%;
}
.social-media .icon1:hover {
	color: white;
	background: #3b5998;
}
.social-media .icon2:hover {
	color: white;
	background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
}
.social-media .icon3:hover {
	color: white;
	background: #000;
}
	/**************** ABOUT PAGE ****************/
#about {
	width: 100%;
	height: 100vh;
	background: #E5DFDF;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #acacac;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: row;
	position: relative;
}
#about .content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 85vh;
	border-width: 0.5px 0px 0px 0px;
	border-style: solid;
	border-color: #acacac;
	position: relative;
}
.profile {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 50%;
	height: 100%;
	position: relative;
	clip-path: polygon(30% 0, 100% 0%, 70% 100%, 0% 100%);
	background: rgb(207,206,206);
	background: linear-gradient(180deg, rgba(207,206,206,1) 0%, rgba(229,223,223,1) 100%);
}
.frame {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	z-index: 1;
}
.picture {
	height: 100%;
	width: 60%;
}
.picture img {
	height: 100%;
	width: 100%;
}
.about-me {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	height: 100%;
	padding-left: 5%;
	padding-top: 1em;
}
.about-me .description {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	font-family: 'Poppins';
	width: 90%;
	text-align: start;
}
.description h2 {
	font-style: italic;
	font-weight: 400;
	font-size: 2.5vw;
	line-height: 2em;
	letter-spacing: 0.05em;
}
.description h3 {
	font-style: normal;
	font-weight: 300;
	font-size: 1.8vw;
	line-height: 4.5vh;
	letter-spacing: 0.08em;
}
.description h3 span {
	font-weight: 600;
	background: linear-gradient(180deg, #4e1c19 0%, rgba(56, 56, 56, 0.74) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-size: 1.8vw;
}
.abt-btn {
	padding-top: 1.7em;
	width: 90%;
}
button.btn1 {
	border: 1px solid transparent;
	height: 5.5vh;
	width: 13vw;
	background: #FDA5A5;
	border-radius: 5px;
	transition: .3s;
	box-shadow: 2px 2px 2px #fcfc;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: filter .3s ease-in-out, transform .3s ease-in-out;
}
.btn1 a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-decoration: none;
	font-weight: medium;
	font-size: 1.2vw;
	border: none;
	margin-left: 10px;
	transition: font-weight .15s ease-in-out;
}
.btn1 a span {
	font-size: larger;
	font-weight: lighter;
	font-style: italic;
	margin-left: 5px;
	transition: font-weight .3s ease-in-out;
}
.btn1:hover {
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
	cursor: pointer;
	transform: scale(1);
}
.btn1:hover a {
	font-weight: 500;
	color: rgb(71, 71, 71);
}
.btn1:hover a span {
	font-weight: bolder;
}
	/**************** RESUME PAGE ****************/
#resume {
	width: 100%;
	display: flex;
	position: relative;
	background-color: #CFCECE;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #acacac;
}
#resume .row {
	width: 100%;
	display: flex;
	flex-direction: row;
	position: relative;
	padding: none;
	--bs-gutter-x: 0;
}
.row .side {
	width: 20%;
	display: flex;
	justify-content: center;
	padding: none;
}
.side-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
    position: sticky;
	position: -webkit-sticky;
    top: 0;
    left: 0;
    height: 30vh;
    background: transparent;
    transition: all 0.3s;
}
.side-btn {
	border: none;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}
.list-group {
	margin-top: 12vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 3vh;
	width: 80%;
	background-color: transparent;
}
.side-bar .list-group-item {
	padding: 1vh;
}
.list-group a {
	text-align: center;
	font-size: 1.2vw;
	transition: width .5s ease-in-out;
}
.list-group a.active {
	background-color: #a0a0a0;
	border: none;
	font-weight: 500;
	color: rgb(255, 242, 242);
	border-radius: 0px 20px 20px 0px;
}
.list-group a:not(.active) {
	background-color: #E5DFDF;
	border: none;
	color: rgb(131, 131, 131);
	width: 60%;
	border-radius: 0px 20px 20px 0px;
}
.list-group a:hover:not(.active) {
	background-color: #8f8f8f;
	border: none;
	color: rgb(77, 77, 77);
}
.row .bar-content {
	display: flex;
	position: relative;
	flex-direction: column;
	background-color: #E5DFDF;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	border-color: #acacac;
	width: 80%;
	padding: none;
	margin: none;
	overflow: hidden;
}
.education {
	display: flex;
	justify-content: center;	
	flex-direction: column;
	align-items: center;
	padding-top: 10%;
}
.education h2 {
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #acacac; 
	line-height: 0.1em;
}
.education h2 span {
	padding: 0 20px;
	background-color: #E5DFDF;
	font-size: 2.5vw;
}
.edu-content {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #acacac;
	height: 60vh;
	padding-left: 15%;
	padding-top: 5%;
	padding-bottom: 5%;
}
.edu-content i {
	font-size: 1.8vw;
	margin-right: 1vw;
	color: #2a0300;
}
.head {
	display: flex;
	flex-direction: row;
}
.head h5 {
	opacity: 0.5;
	font-size: 1.5vw;
}
.edu-content span {
	margin-bottom: 0.5vh;
    font-weight: 300;
    line-height: 1;
	letter-spacing: 0.1em;
	font-size: 1.5vw;
	opacity: 0.8;
}
.high-school {
	display: flex;
	flex-direction: column;
	padding-left: 2.5vw;
	letter-spacing: 0.05em;
}
.high-school h5 {
	font-weight: 500;
	font-size: 1.5vw;
	letter-spacing: 0.05em;
}
.head1 {
	display: flex;
	flex-direction: row;
	margin-top: 4vh;
}
.head1 h5 {
	opacity: 0.6;
	font-size: 1.5vw;
}
.sh-school {
	display: flex;
	flex-direction: column;
	padding-left: 2.5vw;
	letter-spacing: 0.05em;
}
.sh-school h5 {
	font-weight: 500;
	font-size: 1.5vw;
	letter-spacing: 0.05em;
}
.head2 {
	display: flex;
	flex-direction: row;
	margin-top: 4vh;
}
.head2 h5 {
	opacity: 0.6;
	font-size: 1.5vw;
}
.college {
	display: flex;
	flex-direction: column;
	padding-left: 2.5vw;
	letter-spacing: 0.05em;
}
.college h5 {
	font-weight: 500;
	font-size: 1.5vw;
	letter-spacing: 0.05em;
}
.skills {
	display: flex;
	justify-content: center;	
	flex-direction: column;
	width: 100%;
	padding-top: 10%;
}
.skills h2 {
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #acacac; 
	line-height: 0.1em;
}
.skills h2 span {
	padding: 0 20px;
	background-color: #E5DFDF;
	font-size: 2.5vw;
}
.skill-content {
	width: 100%;
	height: 40vh;
	position: relative;
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
}
.skills img {
	height: 23vh;
	width: 50%;
	opacity: 80%;
	position: relative;
}
.html {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 30%;
}
.css {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 30%;
}
.figma {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 30%;
}
.skills h4 {
	padding-top: 2vh;
	color: #525252;
	font-size: 2vw;
}
.soft-skills {
	height: 80vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.soft-skills h3 {
	color: rgb(41, 41, 41);
	text-align: center;
	width: 85%;
	border-bottom: 1px solid #acacac; 
	line-height: 0.1em;
	margin-bottom: 40px;
}
.soft-skills h3 span {
	padding: 0 20px;
	background-color: #E5DFDF;
}
.row-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 40%;
	gap: 15%;
}
.row-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 40%;
	gap: 15%;
}
.skill-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15%;
	height: 100%;
}
.outer {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	border-width: .5px;
	flex-direction: column;
	border-style: solid;
	border-color: #c9c9c9;
	justify-content: center;
	box-shadow: 6px 6px 10px -1px rgba(214, 199, 199, 0.15),
				-4px -2px 5px -1px rgba(155, 152, 152, 0.7);
}
.inner {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border-width: .05px;
	border-style: solid;
	border-color: #c9c9c9;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 4px 4px 5px -1px rgba(0, 0, 0, 0.15),
				inset -4px -4px 10px -1px rgba(255, 255, 255, 0.7),
				-0.5px -0.5px 0px rgba(255, 255, 255, 1),
				0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
				0px 8px 6px -6px rgba(0, 0, 0, 0.5);
}
.inner h5 {
	font-weight: 600;
	color: #363636;
}
.inner circle {
	fill: none;
	stroke: url(#GradientColor);
	stroke-width: 15px;
	stroke-dasharray: 345;
	opacity: 80%;
	mix-blend-mode: multiply;
}
.circle {
	stroke-dashoffset: 34.5;
}
.circle1 {
	stroke-dashoffset: 69;
}
.circle2 {
	stroke-dashoffset: 17.5;
}
.circle3 {
	stroke-dashoffset: 51.75;
}
.circle4 {
	stroke-dashoffset: 34.5;
}
.circle5 {
	stroke-dashoffset: 17.5;
}
.inner svg {
	position: absolute;
}
.sk-description {
	color: #3f3f3f;
	position: absolute;
	padding-top: 10em;
}
.language {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 20vh;
	width: 100%;
}
.lang {
	height: 40%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.line {
	height: 1.5vh;
	width: 60%;
	background: #be0202;
	border-radius: 5px;
	box-shadow: 6px 6px 5px -1px rgba(214, 199, 199, 0.15),
				-4px -3px 5px -1px rgba(121, 121, 121, 0.7);
}
.lang-percentage {
	width: 60%;
	display: flex;
	justify-content: space-between;
}
.lang-percentage span {
	font-weight: 400;
	color: rgb(77, 77, 77);
}
.language h4 {
	color: rgb(61, 61, 61);
	text-align: center;
	width: 85%;
	border-bottom: 1px solid #acacac; 
	line-height: 0.1em;
	font-size: 1.75rem;
}
.language h4 span {
	padding: 0 20px;
	background-color: #E5DFDF;
}
	/**************** PORTFOLIO PAGE ****************/
#portfolio {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #E5DFDF;
	--bs-gutter-x: 0;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #acacac;
}
.projects {
	display: flex;
	align-items: center;	
	flex-direction: column;
	width: 100%;
	height: 100vh;
	padding-top: 8%;
}
.projects h2 {
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #acacac; 
	line-height: 0.1em;
	margin: 10x 0 20px;
	
}
.projects h2 span {
	padding: 0 20px;
	background-color: #E5DFDF;
	font-size: 2.5vw;
}
.project-row {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 100%;
	justify-content: center;
	gap: 4%;
	position: relative;
}
.project {
	height: 65%;
	width: 20%;
	border-width: 1px;
	border-style: solid;
	border-color: #acacac;
	overflow: hidden;
	display: flex;
	border-radius: 5px;
	box-shadow: 4px 4px 5px -1px rgba(255, 255, 255, 0.15),
				-4px -4px 5px -1px rgba(255, 255, 255, 0.7);
	flex-direction: column;
	position: relative;
}
.project:hover {
	text-align: center;
	border-width: 0.5px;
	border-style: solid;
	border-color: #b87771;
	border-radius: 0px 0px 10px 10px;
}
.project-name {
	text-decoration: none;
	color: rgb(41, 41, 41);
	position: relative;
	height: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.project-name a {
	text-decoration: none;
	color: #000000;
}
.project-image {
	height: 85%;
	width: 100%;
	transition: all .3s;
	opacity: 0.8;
	overflow: hidden;
}
.project-image img {
	width: 100%;
	height: 100%;
}
.project:hover .project-image {
	transform: scale(1.2);
	opacity: 0.5;
	overflow: hidden;
	transition: all .3s ease-in-out;
}
.project:hover .project-name a {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #a0a0a0;
	color: rgb(255, 244, 244);
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 1;
	box-shadow: 2px 2px 5px -1px rgba(255, 255, 255, 0.15),
				-2px -2px 5px -1px rgba(255, 255, 255, 0.7);
	transition: all .3s ease-in-out;
}
.project-name:hover a {
	text-decoration: underline;
}
.project:active .project-image {
	opacity: .6;
}
.project .project-name:active {
	opacity: .8;
}
.diversion {
	height: 15vh;
	width: 100%;
	background-color: #c9c9c9;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cv-btn {
	height: 50%;
	width: 20%;
	background-color: #430000;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1em;
}
.cv-btn a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.5vw;
}
.cv-btn:hover {
	background-color: #910000;
}
.cv-btn:hover a {
	color: #ffd5d1;
}
	/**************** CONTACT PAGE ****************/
#contact {
	height: 100vh;
	width: 100%;
	background-color: #b3b3b3;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #acacac;
	overflow: hidden;
}
.contact-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 100%;
}
.form {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 75%;
	border-width: 1px 1px 0px 0px;
	border-color: #868686;
	border-style: solid;
	padding: 3em;
}
.form h4 {
	font-style: italic;
	color: rgb(54, 54, 54);
	font-size: 2vw;
}
.form span {
	font-size: 1.5vw;
	margin-bottom: 1em;
	font-weight: 300;
	color: rgb(80, 80, 80);
}
.mb-3-info .form-control {
	height: 40%;
}
.mb-3-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1.5em;
	height: 20%;
}
.email {
	display: flex;
	flex-direction: column;
	width: 48%;
	height: 100%;
}
.phone {
	display: flex;
	flex-direction: column;
	width: 48%;
}
.mb-3-message {
	height: 50%;
}
.mb-3-message .form-control {
	height: 80%;
}
.mb-3-info, .mb-3-message label {
	font-weight: 500;
	color: rgb(43, 43, 43);
	font-size: 1.5vw;
}
.form button {
	height: 2.5em;
	margin-top: 1em;
	border-radius: 10px;
	float: right;
	width: 10em;
	background-color: #FF8B8B;
	border-color: #f15245;
}
.form button:hover {
	background-color: #ffc2c2;
	border-color: #f15245;
}
.personal-info {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 25%;
	border-width: 1px 0px 0px 0px;
	border-color: #868686;
	border-style: solid;
	background-color: #aaaaaa;
}
.avatar {
	width: 100%;
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.avatar img {
	width: 27vh;
	border-radius: 50%;
	margin-top: 2em;
	background-color: #868686;
}
.info {
	display: flex;
	flex-direction: column;
	margin-top: 1.5em;
	gap: 1em;
}
.info .gmail {
	display: flex;
	flex-direction: row;
}
.info .number {
	display: flex;
	flex-direction: row;
}
.info .address {
	display: flex;
	flex-direction: row;
}
.info span {
	font-size: 1.3vw;
	color: #fff;
}
.info i {
	font-size: 1.3vw;
	padding-top: 0.5vh;
	margin-right: 1vw;
	color: #fff;
}
.footer {
	height: 70px;
	background-color: #868686;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 30px 0px 30px;
}
.footer span {
	font-style: italic;
	color: rgb(216, 216, 216);
	font-weight: 300;
}
.footer a {
	width: 35px;
	height: 35px;
}
@media screen and (max-width: 500px) {
	#navigation {
		height: 8vh;
	}
	.logo img {
		height: 50%;
		margin-left: 5%;
		position: absolute;
	}
	#main-body {
		height: calc(100vh - 7vh);
	}
	.right {
		width: 79%;
		left: 21%;
		clip-path: polygon(60% 0, 100% 0%, 100% 100%, 0% 100%);
	}
	.wrapper h2 {
		font-size: 2.3vh;
	}
	.wrapper h1 {
		font-size: 3.5vh;
	}
	.wrapper h1 span {
		font-size: 3.5vh;
	}
	.wrapper h3 {
		font-size: 1.3vh;
	}
	.social-icon {
		height: 7vh;
	}
	.social-media {
		gap: 2.2vh;
	}
	.social-media a {
		font-size: 2vh;
	}
	.btn-btn .hero-btn {
		height: 3vh;
		width: 30vw;
	}
	.hero-btn .button {
		font-size: 1.1vh;
	}
	.hero-btn:hover {
		width: 23vw;
	}
	.hero-btn:hover span {
		font-size: 4vh;
	}
	.profile {
		width: 60%;
		clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%);
	}
	.picture img {
		position: absolute;
		width: 100%;
		padding-right: 10%;
	}
	.about-me {
		width: 40%;
	}
	#about {
		width: 100%;
		height: 70vh;
		border-top-width: 1px;
		border-style: solid;
		border-color: #acacac;
	}
	#about .content {
		width: 100%;
		height: 100%;
		border: none;
	}
	.picture {
		height: 90%;
		width: 60%;
	}
	.picture img {
		height: 100%;
		width: 100%;
	}
	.description h2 {
		font-size: 2vh;
	}
	.description h3 {
		font-size: 1.2vh;
		line-height: 2.2vh;
	}
	.description h3 span {
		font-size: 1.3vh;
	}
	.abt-btn {
		padding-top: 1vh;
		width: 90%;
	}
	button.btn1 {
		height: 2vh;
		width: 15vw;
	}
	.btn1 a {
		font-weight: medium;
		font-size: 0.7vh;
	}
	.row .side {
		display: none;
	}
	.row .bar-content {
		width: 100%;
		border: none;
	}
	.education h2 span {
		font-size: 3vh;
	}
	.edu-content {
		height: 40vh;
		padding-left: 10%;
	}
	.edu-content i {
		font-size: 1.5vh;
	}
	.head h5 {
		font-size: 1.1vh;
	}
	.edu-content span {
		font-size: 1vh;
	}
	.high-school {
		padding-left: 2.1vh;
	}
	.high-school h5 {
		font-size: 1.1vh;
	}
	.head1 h5 {
		font-size: 1.1vh;
	}
	.sh-school {
		padding-left: 2.1vh;
	}
	.sh-school h5 {
		font-size: 1.1vh;
	}
	.head2 h5 {
		font-size: 1.1vh;
	}
	.college {
		padding-left: 2.1vh;
	}
	.college h5 {
		font-size: 1.1vh;
	}
	.skills h2 span {
		font-size: 3vh;
	}
	.skill-content {
		height: 30vh;
	}
	.skill-content img {
		height: 15vh;
		width: 80%;
	}
	.skill-content h4 {
		padding-top: 1.5vh;
		font-size: 1.5vh;
	}
	.soft-skills h3 {
		margin-bottom: 160%;
	}
	.soft-skills h3 span {
		font-size: 2.5vh;
		padding-bottom: 50%;
	}
	.soft-skills {
		flex-direction: row;
	}
	.outer {
		width: 15vh;
	}
	.row-1 {
		flex-direction: column;
		position: absolute;
		gap: 5%;
		margin-right: 40%;
	}
	.row-2 {
		flex-direction: column;
		position: absolute;
		gap: 5%;
		margin-left: 40%;
	}
	.skill-container {
		width: fit-content;
	}
	.sk-description {
		font-size: 1.5vh;
		margin-top: 5vh;
	}
	.language h4 span {
		font-size: 2.5vh;
	}
	.projects h2 span {
		font-size: 3vh;
	}
	.projects {
		height: fit-content;
	}
	.project {
		width: 80%;
		height: 30vh;
		margin-bottom: 3vh;
	}
	.project-row {
		flex-direction: column;
		margin-top: 5vh;
	}
	.diversion {
		height: 6vh;
	}
	#contact {
		height: 50vh;
	}
	.form {
		padding: 1em;
		width: 70%;
	}
	.personal-info {
		width: 30%;
	}
	.form h4 {
		font-size: 2vh;
	}
	.form span {
		font-size: 1vh;
	}
	.mb-3-info {
		flex-direction: column;
		height: 30%;
	}
	.email {
		height: 50%;
		width: 100%;
		margin-bottom: 2%;
	}
	.phone {
		height: 50%;
		width: 100%;
	}
	.mb-3-info .form-control {
		height: 50%;
		width: 100%;
		font-size: 1.5vh;
	}
	.phone .form-control {
		height: 50%;
		width: 100%;
	}
	.form-label {
		font-size: 1.5vh;
	}
	.mb-3-message {
		font-size: 1.5vh;
		height: 50%;
	}
	.mb-3-message .form-control {
		font-size: 1.5vh;
	}
	.mb-3-message .form-label {
		font-size: 1.5vh;
	}
	.form button {
		font-size: 1vh;
		height: 2vh;
		padding: 0;
		margin-top: 0.5em;
	}
	.avatar {
		height: 20%;
	}
	.avatar img {
		width: 10vh;
	}
	.info i {
		font-size: 1vh;
	}
	.info span {
		font-size: .8vh;
	}
	.navbar-collapse {
		margin-left: 50%;
	}
	.navbar-collapse .navbar-nav {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #a4a4a4;
		height: 40vh;
		border: 0.5px solid #b9b9b9;
	}
	.navbar-expand-lg .navbar-collapse {
		display: block;
		width: 50%;
		height: 0;
	}
	.navbar-collapse .nav-item a {
		font-size: 2vh;
	}
	.navbar-nav .nav-link.active {
		border: none;
		margin-top: 0;
		background: transparent;
	}
	.navbar-nav > .nav-item a.active {
		color: #ffffff;
		border-bottom: 1px inset #ff1500;
		border-radius: 0%;
	}
	.nav-item a.active:hover {
		color: #ffb4ad;
		margin-top: 0;
		border-radius: 0%;
		background: transparent;
	}
	.nav-item a:not(.active) {
		color: #515151;
	}
	.nav-item a:hover:not(.active) {
		border-bottom: none;
		margin-top: 0px;
		color: #a48381;;
	}
	.footer {
		height: 5vh;
	}
	.footer span {
		font-size: 1.5vh;
	}
	.container-fluid {
		height: fit-content;
	}
}